<h1>MeeT</h1>
<p>
殺処分０を目指して、
ペットショップからでは得られない素敵な出会いに繋げる為に
</p>
<li><%= link_to 'ゲストログイン', guest_login_path, method: :post %></li>
<li><%= link_to 'ゲストログイン(管理者)', admin_guest_login_path, method: :post %></li>
