<div class="text_container">
<h1>MeeT</h1>
<p>
保護犬、保護猫を預かったけれど、どのように次の家族を見つけたら良いかわからない。
<br>
保護団体ごとにサイトがあって、探し方が難しい。
<br>
殺処分０を目指して、ペットショップからでは得られない素敵な出会いに繋げる為に、
<br>
日本全国の保護団体様が登録可能です。
<br>
サイト内に一対一のチャット機能もありますので、気軽にやりとりができ、
<br>
年齢制限・お住まいの地域で検索を絞ることも可能です。
</p>
<li><%= link_to 'ゲストログイン', guest_login_path, method: :post %></li>
<li><%= link_to 'ゲストログイン(管理者)', admin_guest_login_path, method: :post %></li>
</div>
